$mdc-theme-primary: #03a9f4;
$mdc-theme-primary-light: #ECF6FC;
$mdc-theme-secondary: #ffeb3b;
$mdc-theme-on-primary: white;
$mdc-theme-on-secondary: black;
$mdc-typography-font-family: "Arial";

@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";

.submit-button {
  margin-left: 5%;
  @include mdc-button-ink-color($mdc-theme-on-primary);
}

.delete-btn {
  margin-left: 80%;
  @include mdc-button-ink-color($mdc-theme-on-primary);
}

body {
  // padding: 5%;
  margin: 0;
  font-family: $mdc-typography-font-family;
}

.content {
  text-align: center;
  background-color: white;
  margin: 5% 20%;
  background-color: $mdc-theme-primary-light;
}

.title {
  margin: 0;
  padding: 2vh;
}

.right {
  text-align: right
}