$mdc-theme-primary: #03a9f4;
$mdc-theme-primary-light: #ECF6FC;
$mdc-theme-secondary: #ffeb3b;
$mdc-theme-on-primary: white;
$mdc-theme-on-secondary: black;
$mdc-typography-font-family: "Arial";

@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";

body {
  margin: 0;
  font-family: $mdc-typography-font-family;
}

.container {
  padding-top: 100px;
  text-align: center;
}

.submit-button {
  margin-left: 5%;
  @include mdc-button-ink-color($mdc-theme-on-primary);
}

.delete-btn {
  margin-left: 80%;
  @include mdc-button-ink-color($mdc-theme-on-primary);
}

.title {
margin: 0 40%;
font-size: 40px;
color: $mdc-theme-on-primary;
}